/*
footer color escuro : #1062ce


© 2020 Direitos autorais: 

Sua conta
registre-se
requisitos para voluntáriar
sobre nós
contato

texto 
lorem
*/



:root {
    --primary-color: #2F80ED;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

/*body {
}*/

a {
    text-decoration: none;
}

.page-home .content .toolbar {
    width: 100%;
    height: 61px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--primary-color);
}

.page-home .content #logo {
    width: 80px;
    height: 80px;
    margin-left: 80px;
}

.page-home .content .toolbar p {
    margin-left: 70%;
}

.page-home .content #avatar {
    width: 50px;
    height: 50px;
    margin-right: 80px;
}

.page-home .content .middlle {
    text-align: center;
    align-items: center;
    margin-top: 200px;
    margin-left: 450px;
    width: 500px;
    
}

.page-home .content .middlle a{
    color: white;
    width: 100%;
    max-width: 360px;
    height: 72px;
    border-radius: 8px;
    background: var(--primary-color);
    display: flex;
    align-items: center;
    margin-top: 40px;
    margin-left: 75px;
    transition: 400ms;
}

.page-home .content .middlle #a-text{
    margin-left: 130px;
}

.page-home .content .middlle  h1 {
    margin: 40px;
}

footer {
    background: var(--primary-color);   
    color: white;
    width: 100%;
    height: 300px;
    margin-top: 150px;
}

footer .top {
    display: flex;
    margin-left: 350px;
    margin-right: 350px;
    padding: 50px;
    justify-content: space-between;
}