:root {
    --primary-color: #2F80ED;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

.page-home .content .toolbar {
    width: 100%;
    height: 61px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--primary-color);
}

.page-home .content #logo {
    width: 80px;
    height: 80px;
    margin-left: 80px;
}

.page-home .content p {
    margin-left: 70%;
}

.page-home .content #avatar {
    width: 50px;
    height: 50px;
    margin-right: 80px;
}